aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
CMRESHandler==1.0.0
colorama==0.4.4
commonmark==0.9.1
elasticsearch==7.13.1
furl==2.1.2
idna==2.10
loguru==0.5.3
multidict==5.1.0
orderedmultidict==1.0.1
Pillow==8.2.0
pycparser==2.20
pyee==8.1.0
Pygments==2.9.0
pyppeteer==0.2.5
pyppeteer2==0.2.2
pyTelegramBotAPI==3.7.9
pytz==2021.1
PyYAML==5.4.1
qrcode==6.1
requests==2.25.1
rich==10.3.0
six==1.16.0
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.5
websockets==8.1
win32-setctime==1.0.3
wincertstore==0.2
yarl==1.6.3
