aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
furl==2.1.2
idna==2.10
loguru==0.5.3
multidict==5.1.0
orderedmultidict==1.0.1
Pygments==2.9.0
PyYAML==5.4.1
qrcode==6.1
requests==2.25.1
rich==10.4.0
six==1.16.0
telebot==0.0.4
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
