name: jd_car_live

on:
    workflow_dispatch:
    schedule:
        - cron: "45 23,4,11 * * *"
    watch:
        types: [started]
    repository_dispatch:
        types: jd_car_live

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
          - name: Checkout
            uses: actions/checkout@v2

          - name: 'Set up Python'
            uses: actions/setup-python@v1
            with:
              python-version: 3.7

          - name: 'Install requirements'
            run: pip install -r ./requirements.txt
            
                  
          - name: run
            run: |     
             sed -i -e '/pt/{2;d}' ./config.yaml
             sed -i "15c${{ secrets.TEST_COOKIE }}" ./config.yaml
             sed 's/&/\n/g' ./config.yaml
             sed -i "/pt/^/  - /g" ./config.yaml
             
             sed -i "s/aaa/${{ secrets.TG_BOT_TOKEN }}/g" ./config.yaml
             sed -i "s/bbb/${{ secrets.TG_USER_ID }}/g" ./config.yaml
             sed -i "s/default=0/default=1/g" ./db/model.py
             mkdir conf 
             mv ./config.yaml ./conf/config.yaml        
             
             python3 jd_car_live.py
                  
