name: test-cookie

on:
    workflow_dispatch:
       
jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
          - name: Checkout
            uses: actions/checkout@v2            
            
                  
          - name: runs
            run: |                         
                sed sed -i '16,17d' ./config.yaml
                sed -i "15c#${{ secrets.TEST_COOKIE }}" ./config.yaml
                sed 's/&/\n/g' ./config.yaml
                sed -i "15,17s/^/  - /g" ./config.yaml

                cat ./config.yaml

